/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x86/Debug/win32_interop.tlog/*.tlog
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x64/Debug/win32_interop.tlog/*.tlog
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x86/Debug/hiredis.tlog/*.tlog
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x64/Debug/hiredis.tlog/*.tlog
/LKAutoTools/globalServer/exec/*.stat
/HRServer/exec/*.stat
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/*.sdf
/LKAutoTools/globalServer/*.sdf
/HRServer/*.sdf
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x86/Debug/*.obj
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x64/Debug/*.obj
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x86/Debug/*.obj
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x64/Debug/*.obj
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x86/Debug/*.log
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x64/Debug/*.log
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x86/Debug/*.log
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x64/Debug/*.log
/LKAutoTools/globalServer/exec/glog/*.log
/HRServer/exec/log/*.log
/LKAutoTools/globalServer/exec/*.ilk
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x86/Debug/*.idb
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/win32_interop/x64/Debug/*.idb
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x86/Debug/*.idb
/LKEngine/hiredis_win/msvs/vs-solutions/vs2013/tmp/hiredis/x64/Debug/*.idb
/HRClient/Log
/HRClient/Temp
/HRClient/Library
/HRClient/StreamingAssetsUpload
/HRClient/Assets/StreamingAssets
/HRServer/exec/GameServerD.pdb
/HRServer/exec/GameServerD.exe
/HRServer/GameAllServer.opensdf
/Public/IntDir
HRClient/Config/user.txt
/LKAutoTools/PublishServer/hrServer.tar.gz
/LKAutoTools/PublishServer/hrSql.tar.gz
